<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations | KOI STUDIO</title>
</head>
<body>
    <!-- Section 1: Introduction -->
    <section>
        <div class="recom-intro-container">
            <div class="recom-header-one">
                <h1>Koi-Studio</h1>
                <p>Tailored Recommendations for Every Romance Anime & Manga Lover.</p>
            </div>
        </div>
    </section>
    <!-- Section 2: Internet Recommendation -->
    <Section>
        <div class="top-header">
            <h2>Internet Recommendation</h2>
        </div>
        <div class="top-image-container">
            <div class="top-image-box-container">
                <img src="../img/Recom/Internet/Blue_Spring.jpg" alt="Blue Spring Ride">
                <p>Blue Spring Ride</p>
            </div>
            <div class="top-image-box-container">
                <img src="../img/Recom/Internet/Dressup.jpg" alt="My Dressup Darling">
                <p>My Dressup Darling</p>
            </div>
            <div class="top-image-box-container">
                <img src="../img/Recom/Internet/Fruit_Basket.jpg" alt="Fruit Basket">
                <p>Fruit Basket</p>
            </div>
            <div class="top-image-box-container">
                <img src="../img/Recom/Internet/Horimiya.jpg" alt="Horimiya">
                <p>Horimiya</p>
            </div>
            <div class="top-image-box-container">
                <img src="../img/Recom/Internet/Little_Monster.jpg" alt="My Little Monster">
                <p>My Little Monster</p>
            </div>
            <div class="top-image-box-container">
                <img src="../img/Recom/Internet/Silent.jpg" alt="Silent Voice">
                <p>Silent Voice</p>
            </div>
            <div class="top-image-box-container">
                <img src="../img/Recom/Internet/Snow_white.jpg" alt="Snow White with the Red Hair">
                <p>Snow White with the Red Hair</p>
            </div>
            <div class="top-image-box-container">
                <img src="../img/Recom/Internet/Wotakoi.jpg" alt="Wotakoi: Love is Hard for Otaku">
                <p>Wotakoi: Love is Hard for Otaku</p>
            </div>
            <div class="top-image-box-container">
                <img src="../img/Recom/Internet/Yona.jpg" alt="Yona of the Dawn">
                <p>Yona of the Dawn</p>
            </div>
            <div class="top-image-box-container">
                <img src="../img/Recom/Internet/your_name.jpg" alt="Your Name">
                <p>Your Name</p>
            </div>
        </div>
    </Section>
        <!-- Section 2: Internet Recommendation -->
        <Section>
            <!-- Mod 1: Eljan-->
            <div class="mod-header">
                <div class="mod-image">
                    <img src="../img/mod_img/ej.jpg" alt="ej">
                </div>
                <div class="mod-name">
                    <h2>Moderator: Eljan Joel Pamintuan</h2>
                </div>
            </div>
            <div class="top-header">
                <h2>Recommendations:</h2>
            </div>
            <div class="top-image-container">
                <div class="top-image-box-container">
                    <img src="../img/Recom/Ej/Yamada-kun.jpg" alt="My Love Story with Yamada-kun at Lv999">
                    <p>My Love Story with Yamada-kun at Lv999</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Ej/Komi.jpg" alt="Komi Can't Communicate">
                    <p>Komi Can't Communicate</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Ej/Your.jpg" alt="Your lie in April">
                    <p>Your lie in April</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Ej/Wotakoi.jpg" alt="Wotakoi: Love is Hard Otaku">
                    <p>Wotakoi: Love is Hard Otaku</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Ej/Oregairu.jpg" alt="Oregairu">
                    <p>Oregairu</p>
                </div>
            </div>
        </Section>
        <section>
            <!-- Mod 2: June-->
            <div class="mod-header">
                <div class="mod-image">
                    <img src="../img/mod_img/june.jpg" alt="june">
                </div>
                <div class="mod-name">
                    <h2>Moderator: June Sarah Quiambao</h2>
                </div>
            </div>
            <div class="top-header">
                <h2>Recommendations:</h2>
            </div>
            <div class="top-image-container">
                <div class="top-image-box-container">
                    <img src="../img/Recom/June/A_Sign.jpg" alt="A Sign of Affection Is the Most Swoon-Worthy Romance of the Season">
                    <p>A Sign of Affection Is the Most Swoon-Worthy Romance of the Season</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/June/Apothecary_Diaries.jpg" alt="The Apothecary Diaries Is A Well-Crafted Historical Romance">
                    <p>The Apothecary Diaries Is A Well-Crafted Historical Romance</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/June/Skip.jpg" alt="Skip and loafers ">
                    <p>Skip and loafers</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/June/fruit.jpg" alt="Fruits basket">
                    <p>Fruits basket</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/June/ouran.jpg" alt="Ouran high school club">
                    <p>Ouran high school club</p>
                </div>
            </div>
        </section>

        <section id="#mark">
            <!-- Mod 3: Mark-->
            <div class="mod-header">
                <div class="mod-image">
                    <img src="../img/mod_img/mark.jpg" alt="mark">
                </div>
                <div class="mod-name">
                    <h2>Moderator: Mark Erolle Quiambao</h2>
                </div>
            </div>
            <div class="top-header">
                <h2>Recommendations:</h2>
            </div>
            <div class="top-image-container">
                <div class="top-image-box-container">
                    <img src="../img/Recom/Mark/Blue_Box.jpg" alt="Blue Box">
                    <p>Blue Box</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Mark/Bokura.jpg" alt="Bokura wa Minna Kawaisou">
                    <p>Bokura wa Minna Kawaisou</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Mark/Go_Toubun.jpg" alt="Go-Toubun no Hanyome">
                    <p>Go-Toubun no Hanyome</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Mark/Kubo-san.jpg" alt="Kubo Won't Let me Be Invisible">
                    <p>Kubo Won't Let me Be Invisible</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Mark/Kuchi.jpg" alt="Kuchi ga Saketemo kimi ni wa">
                    <p>Kuchi ga Saketemo kimi ni wa</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Mark/Masame.jpg" alt="Masame-kun no revenge">
                    <p>Masame-kun no revenge</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Mark/Mysterious.jpg" alt="Mysterious Girlfriend X">
                    <p>Mysterious Girlfriend X</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Mark/Nisekoi.jpg" alt="Nisekoi">
                    <p>Nisekoi</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Mark/Rascal.jpg" alt="Rascal Does Not Dream of Bunny Girl Senpai">
                    <p>Rascal Does Not Dream of Bunny Girl Senpai</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Mark/sakurasou.jpg" alt="Sakurasou pet no kanojo">
                    <p>Sakurasou pet no kanojo</p>
                </div>
            </div>
        </section>

        <section>
            <!-- Mod 2: June-->
            <div class="mod-header">
                <div class="mod-image">
                    <img src="../img/mod_img/jose.jpg" alt="jose">
                </div>
                <div class="mod-name">
                    <h2>Moderator: Jose Favian Reyes</h2>
                </div>
            </div>
            <div class="top-header">
                <h2>Recommendations:</h2>
            </div>
            <div class="top-image-container">
                <div class="top-image-box-container">
                    <img src="../img/Recom/Jose/Ao_haur.jpg" alt="Ao Haru Ride">
                    <p>Ao Haru Ride</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Jose/Charlotte.jpg" alt="Charlotte">
                    <p>Charlotte</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Jose/Horimiya.jpg" alt="Horimiya">
                    <p>Horimiya</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Jose/Kimi.jpg" alt="Kimi ni Todoke">
                    <p>Kimi ni Todoke</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Jose/Little_Monster.jpg" alt="My Little Monster">
                    <p>My Little Monster</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Jose/Monogatari.jpg" alt="My Love Story">
                    <p>My Love Story</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Jose/The_Danger.jpg" alt="The Dangers In My Heart Season 2 Defies The Generic Romance Tropes">
                    <p>The Dangers In My Heart Season 2 Defies The Generic Romance Tropes</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Jose/Toradora.jpg" alt="Toradora!">
                    <p>Toradora!</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Jose/Wotakoi.jpg" alt="Wotakoi: Wotaku ni Koi wa Muzukashii!">
                    <p>Wotakoi: Wotaku ni Koi wa Muzukashii!</p>
                </div>
                <div class="top-image-box-container">
                    <img src="../img/Recom/Jose/oregairu.jpg" alt="Oregairu">
                    <p>Oregairu</p>
                </div>
            </div>
        </section>

    <footer>
        <div class="footer-container">
            <div class="logo-container">
                <h2>Koi-Studio<span class="footer-run">is run by WD-302</span></h2>
                <button class="footer-button" (click)="scrollToTop()">Back to Top</button>
            </div> 
            <div class="social-container">
            <a href="#"><i class="ri-facebook-circle-fill"></i></a>
            <a href="#"><i class="ri-instagram-fill"></i></a>
            <a href="#"><i class="ri-tiktok-fill"></i></a>
            </div>
            <!--<div class="navbar-container">
                <p><a routerLink='/' routerLinkActive="active">HOME</a></p><br>
                <p><a routerLink='/about-us' routerLinkActive="active">ABOUT US</a></p><br>
                <p><a routerLink='/top-links' routerLinkActive="active">TOP LIST</a></p><br>
                <p><a routerLink='/recommendation' routerLinkActive="active">RECOMMENDATIONS</a></p>
            </div> -->
        </div>
        <div class="footer-created">
            <p>&copy; Copyright 2024. All Rights Reserved to Koi Studio</p>
        </div>
    </footer>
</body>